fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
langchain-google-genai
langgraph
langsmith
pydantic
mysql-connector-python
pypdf
docx2txt
python-multipart
typing-extensions
setuptools
llama-index
llama-index-readers-file
