#fastapi
#uvicorn
#python-multipart
#python-dotenv
#langchain-community
#langchain-core
#langchain-ollama
#pypdf
#docx2txt
fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
langchain==0.3.0
langchain-community==0.3.0
langchain-ollama==0.2.0
langchain-text-splitters==0.3.0
langgraph-cli[inmem]
langchain-core
langsmith
pydantic
mysql-connector-python==9.0.0
pypdf==4.3.1
docx2txt==0.8
python-multipart==0.0.12
typing-extensions==4.12.2
setuptools
 